body {
  font-family: system-ui;
  background-color: #C3F8FF;
}

h1 {
  color: #99ccff;
}

h3 {
  color: #16213E;;
}

h4{
  color: #16213E;
}
h2{
  color: #16213E;
}
hr {
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 5%;
}

img {
  height: 150px;
}
